<!DOCTYPE html>
<html>
  <head>
    <title>SSL-Flash</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container-fluid">
      <h1>SSL-Flash ver 0.0.2</h1> SSL-Cert File Lookup Automation and Safe Handler     
      <p class="text-right"><a href="/">Submission Page</a></p> 
      <h2> {{ pd.summary_num }} Certs are detected</h2>
      <ol>
        {% for leaf in pd.summary_leaf %}
        <li>{{ leaf }}</li>
        {% endfor %}
      </ol>

      {% for certree in pd.certrees %}
      <hr style="border: 0; border-bottom: 1px dashed #ccc; background: #999;">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            {% for cert in certree %}
            {% if loop.first %}
            <h4 class="panel-title">
              <!-- <span class="badge">1</span> -->
              <a data-toggle="collapse" href="#{{certree[0].CN | replace(".", "-") }}">{{ cert.CN }}</a>     
            </h4>
            {% else %}
            <span class="glyphicon glyphicon-arrow-right"></span>
            {{ cert.CN }}
            {% if cert.SelfSigned %}
            <span class="label label-warning">Self Signed</span>
            {% endif%}
            <br>
            {% endif %}
            {% endfor %}
            {% if certree[0].Trusted %}
            <span class="label label-success">Chain Trusted</span>
            {% else %}
            <span class="label label-danger">Chain NOT Trusted</span>
            {% endif %}
          </div>

          <div id="{{ certree[0].CN | replace(".", "-") }}" class="panel-collapse collapse">
            
            <ul class="list-group">
              {% for cert in certree %}
              <li class="list-group-item">
              <h4>                
                {{ cert.CN }}
                {% if loop.first %}
                <span class="label label-warning">Leaf</span>
                {% endif %}
                {% if cert.SelfSigned %}
                <span class="label label-warning">Self Signed</span>
                {% endif%}
              </h4>

              <ul>
                <li>
                <strong>Filename: </strong> {{ cert.ORIGFILE }}
                </li>
                {% for info in cert.INFO %}
                <li><strong>{{ info[0] }} : </strong>{{ info[1] }}</li>
                {% endfor %}
              </ul>
             <p>
             <details>
             <summary><strong>PEM TEXT</strong></summary>
                  <pre>
                  <code>
{{ cert.PEM }}
                  </code>
                  </pre>
             </details>
             </p>
             </li>
             {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}





    <hr><h5>Feedback to mkitamur@akamai.com</h5>



    </div>
  </body>
</html>


