<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container-fluid">
      <h1>SSL-Flash ver 0.0.1</h1>      
      <p class="text-right"><a href="#">Submission Page</a></p> 
      <h2> 4 Certs are detected</h2>
      <ol>
        <li>www.jins.com</li>
        <li>www.jins.com</li>
        <li>www.jins.com</li>
        <li>www.jins.com</li>
      </ol>


      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <span class="badge">1</span>
              <a data-toggle="collapse" href="#collapse1">www.jins.com</a>     
            </h4>
              <span class="glyphicon glyphicon-arrow-right"></span> GlobalSign Organization Validation CA - SHA256 - G2 <br>
              <span class="glyphicon glyphicon-arrow-right"></span> GlobalSign Organization Validation CA - SHA256 - G2
              <br><span class="label label-success">Chain Trusted</span>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            
            <ul class="list-group">
              <li class="list-group-item">
              <h4>                
                www.jins.com <span class="label label-warning">Leaf</span>
              </h4>

              <ul>
                <li><strong>Filename:</strong> certscets/証明書一式です.txt</li>
                <li><strong>Version:</strong> 3 (0x02)</li>
                <li><strong>Serial Number:</strong> 36:d9:2b:6b:6a:f6:b2:81:70:57:10:60</li>
                <li><strong>Signature Algorithm:</strong> sha256WithRSAEncryption</li>
                <li><strong>Issuer:</strong> C=BE, O=GlobalSign nv-sa, <mark>CN=GlobalSign Organization Validation CA - SHA256 - G2</mark></li>
                <li><strong>Validity::Not Before:</strong> May 30 04:35:26 2017 GMT</li>
                <li><strong>Validity::Not After:</strong> May 31 04:35:26 2018 GMT</li>
                <li><strong>Subject:</strong> C=JP, ST=Tokyo, L=Chuo-ku, OU=Advertising Planning PR Sec., O=KOSE Corporation, <mark>CN=www.esprique.com</mark></li>
                <li><strong>Subject Public Key Info::Public Key Algorithm:</strong> rsaEncryption</li>
                <li><strong>Subject Public Key Info::Public Key:</strong> 2048 bit</li>
                <li><strong>Extentions::X509v3 Subject Alternative Name:</strong> <mark>DNS:www.esprique.com, DNS:esprique.com</mark></li>
                <li><strong>Signature Algorithm:</strong> sha256WithRSAEncryption</li>
              </ul>
             <p>
             <details>
             <summary><strong>PEM TEXT</strong></summary>
                  <pre><code>
-----BEGIN CERTIFICATE-----
MIIDAjCCAmsCEEzH6qqYPnHTkxD4PTqJkZIwDQYJKoZIhvcNAQEFBQAwgcExCzAJ
BgNVBAYTAlVTMRcwFQYDVQQKEw5WZXJpU2lnbiwgSW5jLjE8MDoGA1UECxMzQ2xh
c3MgMSBQdWJsaWMgUHJpbWFyeSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eSAtIEcy
MTowOAYDVQQLEzEoYykgMTk5OCBWZXJpU2lnbiwgSW5jLiAtIEZvciBhdXRob3Jp
emVkIHVzZSBvbmx5MR8wHQYDVQQLExZWZXJpU2lnbiBUcnVzdCBOZXR3b3JrMB4X
DTk4MDUxODAwMDAwMFoXDTI4MDgwMTIzNTk1OVowgcExCzAJBgNVBAYTAlVTMRcw
FQYDVQQKEw5WZXJpU2lnbiwgSW5jLjE8MDoGA1UECxMzQ2xhc3MgMSBQdWJsaWMg
UHJpbWFyeSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eSAtIEcyMTowOAYDVQQLEzEo
YykgMTk5OCBWZXJpU2lnbiwgSW5jLiAtIEZvciBhdXRob3JpemVkIHVzZSBvbmx5
MR8wHQYDVQQLExZWZXJpU2lnbiBUcnVzdCBOZXR3b3JrMIGfMA0GCSqGSIb3DQEB
AQUAA4GNADCBiQKBgQCq0Lq+Fi24g9TK0g+8djHKlNgdk4xWArzZbxpvUjZudVYK
VdPfQ4chEWWKfo+9Id5rMj8bhDSVBZ1BNeuS65bdqlk/AVNtmU/t5eIqWpDBucSm
Fc/IReumXY6cPvBkJHalzasab7bYe1FhbqZ/h8jit+U03EGI6glAvnOSPWvndQID
AQABMA0GCSqGSIb3DQEBBQUAA4GBAKlPww3HZ74sy9mozS11534Vnjty637rXC0J
h9ZrbWB85a7FkCMMXErQr7Fd88e2CtvgFZMN3QO8x3aKtd1Pw5sTdbgBwObJW2ul
uIncrKTdcu1OofdPvAbT6shkdHvClUGcZXNY8ZCaPGqxmMnEh7zPRW1F4m4iP/68
DzFc6PLZ
-----END CERTIFICATE-----
                    </code></pre>
             </details>
             </p>
             </li>

            </ul>
          </div>
        </div>
      </div>










    </div>
  </body>
</html>


